<%- include("header"); -%>

<h1>This is about page</h1>


<p>fmvkfmvkfmvkmfvfm  ferfr ffdjfodjfodofjk ndfd;lkfkdngkjdbsgjvnkdfjnfgoeifoe jofo
  eoejfoierjfo jeofjoieij fojfoiijeofeo fodrjrfoiierjeiofjoj ioofoidfoiefoie oieroifjeoi</p>

  <%- include("footer"); -%>
